@charset "utf-8";

body {
	-epub-writing-mode:vertical-rl;
    font-family: arial, helvetica, sans-serif;
    color: black;
    background: white;        
}

.checkpoint{
	color:red;
	font-weight: bold;
}

span.charj{
	display:inline-block;
	width: 1em;
	height: 1em;
	background-image: url('../img/box.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.content-target img{
	height:100%;
}